.background--login {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('./bg.jpg');
  height: 100vh;
}

.box--login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 30px;
  background-color: #030E19;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
  border-radius: 10px;
}

.box--login .inputBox input {
  width: 100%;
  padding: 30px 0 10px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #fff;
}

.box--login .inputBox label{
  position: absolute;
  top: 50;
  left: 0px;
  padding: 0px 30px 15px;
  font-size: 16px;
  color: #C6C5C5;
  pointer-events: none;
  transition: .5s;
}

.box--login .inputBox input:focus~label{
  top: 50;
  left: 0;
  color: #03a9f4;
  font-size: 11px;
}

.box--login button[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 330px;
  transition-duration: .5s;
  cursor: pointer;
}

.box--login button[type="submit"]:hover {
  background-color: royalblue;
}

.box1--login button[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #EC3E17;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 330px;
  top: 5px;
  position: relative;
  transition-duration: .5s;
  cursor: pointer;
}

.box1--login input[type="submit"]:hover {
  background-color: #CA0909;
}

p {
  font-size: 11px;
  position: relative;
  top: -15px;
  color: dodgerblue;
}

h2{
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.arr {
  font-size: 13px;
  position: relative;
  top: 15px;
  color: #BBE1FC;
}